@charset "UTF-8";

.form-newsletter {
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    width: 100%;
    border-radius: 7px;
    border: 2px solid #e93d50;
    background-color: #e93d50;
}

.form-newsletter_label {
    position: absolute;
    left: -10000px;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.form-newsletter_campo {
    border: none;
    flex-grow: 1;
    padding: .6rem .4rem; 
}

.form-newsletter_botao {
    border: none;
    flex-grow: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    background-color: #e93d50;
}