@charset "UTF-8";

.planos {
    padding-top: 15px;
    padding-bottom: 1.8rem;
    justify-items: center;
    text-align: center;
    position: relative;
    display: grid;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/planos-background-mobile.png);
}

.planos::before {
    content: "";
    transform: translate(-50%, 0);
    position: absolute;
    left: 50%;
    top: 0;
    height: .1rem;
    width: 81%;
    background-color: #e93d50;
}

.planos_titulo {
    font-size: .85rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.planos_card {
    align-items: center;
    border-radius: 8px;
    margin-bottom: 1.3rem;
    padding: 4rem 1rem 1rem;
    flex-direction: column;
    display: flex;
    background-size: 1.7rem;
    background-repeat: no-repeat;
    background-position: top 1.5rem center;
    box-shadow: 0 0 .8rem .1rem rgba(0, 0, 0, .2);
    color: #fff;
    background-color: #f76148;
}

.card--anual {
    background-image: url(../img/simbolo-musidot-branco.svg);
}

.card--semestral {
    background-image: url(../img/simbolo-musidot-dark.svg);
}

.plano_titulo {
    margin: 8px 0;
}

.plano--p--p {
    font-weight: 300;
    margin-top:	.2rem;
    letter-spacing: 1.5px;
}

.plano_titulo, .plano_titulo p {
    font-size: 1rem;
    font-weight: 500;
}

.valor--destaque {
    font-weight: 700;
    font-size: 2rem;
}

.planos_card span {
    font-weight: 500;
}

.cards_botao {
    border-radius: 8px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: .8rem;
    padding: 1rem 2rem;
    box-shadow: 0 0 .8rem .1rem rgba(0, 0, 0, .2);
    color: #f76148;
    background-color: #fff;
}

.card--anual {
    position: relative;
    z-index: 2;
}

.plano--destaque {
    color: #f76148;
    font-weight: 600;
    text-transform:	uppercase;
    letter-spacing: 1.1px;
    width: 8rem;
    padding: .4rem 0 .8rem;
    border-radius: 5px;
    box-shadow: 0 0	.8rem .05rem rgba(0, 0,	0 .2);
    background-color: #fff;
    position: absolute;
    transform: translate(-50%, -65%);
    z-index: 1;
}

.card--p {
    margin-bottom: 1rem;
}

.planos > p {
    line-height: 18px;
    font-weight: 600;
    font-size: .6rem;
    width: 250px;
}

.planos a {
    font-weight: 700;
}

@media (min-width: 768px){

    .planos {
        grid-template-columns: 20rem 20rem;
        grid-template-areas: 
        "header header"
        "card1 card2"
        "footer footer";
        gap: 1rem;
        justify-content: center;
        padding-bottom: 2rem;
        background-size: cover;
        background-image: url(../img/planos-background.png);
    }

    .planos_titulo {
        grid-area: header;
    }

    .cards_planoanual {
        grid-area: card2;
    }

    .card--semestral {
        grid-area: card1;
    }

    .planos_pagamentos {
        grid-column-end: span 2;
    }

    .planos--maisassinados {
        font-size: .8rem;
    }

    .planos_card img {
        width: 2.5rem;
    }

    .planos_titulo, .planos_titulo p {
        font-weight: 500;
        font-size: 1.4rem;
    }

    .valor--destaque {
        font-weight: 700;
        font-size: 2.6rem;
    }

    .plano--destaque {
        font-size: .6rem;
    }

    .cards_botao {
        transition: .25s;
        font-size: 1.1rem;
    }

    .planos > p {
        line-height: 18px;
        font-weight: 600;
        font-size: .9rem;
    }
}

@media (min-width: 1200px){

    .planos_titulo {
        font-size: 1.2rem;
    }

    .plano--destaque {
        transform: translate(-50%, -75%);
        font-size: .9rem;
        width: 10rem;
    }
}

