@charset "UTF-8";

.rodape {
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 0.7rem;
    text-align: center;
}

.rodape_logo {
    margin: 1em 0;
    width: 11.25em;
}

.rodape_lista-midias-sociais {
    justify-content: center;
    display: flex;
}

.rodape_infos-empresa {
    line-height: 1.5;
}

.rodape_lista-midias-sociais {
    margin-top: 1em;
    justify-content: center;
    display: flex;
}

.rodape_item-midias-sociais {
    margin: 0 .25em;
    width: 2.62em;
}

.rodape_item-midias-sociais img{
    width: 100%;
}

.rodape_titulo {
    margin-bottom: 1em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.45em;
}

.rodape_item-lista {
    margin: 0.625em 0;
    font-weight: 500;
}

@media (max-width: 640px){
    
    .rodape_secao {
        margin-top: 2em;
    }
}

@media (min-width: 640px) and (max-width: 1200px){
    .rodape {
        justify-content: space-between;  
        flex-wrap: wrap;
        display: flex;
        font-size: 1rem;
    }

    .rodape_secao--sobre, .rodape_secao--cursos, .rodape_secao--links, .rodape_secao--newsletter {
        width: 45%;
    }

    .rodape_secao--cursos {
        order: 1;
        margin: 0;
    }

    .rodape_secao--links {
        order: 2;
        margin: 0;
    }

    .rodape_secao--sobre {
        order: 3;
        margin-top: 2em;
    }

    .rodape_secao--newsletter {
        order: 4;
        margin-top: 2em;
    }
}

@media (min-width: 1200px){

    .rodape {
        text-align: left;
        font-size: 0.85rem;
        justify-content: space-between;
        display: flex;
    }

    .rodape_titulo {
        font-size: 1em;
    }

    .rodape_lista-midias-sociais {
        justify-content: left;
    }

    .rodape_secao {
        margin-top: 0;
    }

    .rodape_secao {
        margin-left: 2em;
    }
}
