@charset "UTF-8";

body {
    margin: 0 auto;
    max-width: 940px;
    width: 80%;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 16px;
    font-family: "Helvetica", "Lucida Grande", sans-serif;
    color: #3d3d3d;
}

.subtitulos {
    border-bottom: 1px solid #000000;
}

figure {
    padding: 15px;
    margin: 30px;
    padding: 15px;
    max-width: 100%;
    text-align: center;
    color: #909090;
    background-color: #f5f5f5;
    border: 1px solid lightgrey;
}

figcaption {
    margin-top: 10px;
}

figure img {
    height: inherit;
    width: 100%;
}

.imgmatriz{
    width: 550px;
}

.imgfamilia {
    float: right;
    width: 275px;
}

ul {
    font-size: medium;
    list-style-type: circle;
}

a {
    color: #47617a;
    text-decoration: none;
}

div dd a {
    font-size: smaller;
}

.contato-secao {
    margin-left: 16px;
    vertical-align: top;
    display: inline-block;
}

.container-contato {
    justify-content: space-around;
    display: flex;
    max-width: 100%;
}

.informacoes-contato {
    display: flex;
}

.contato-subtitulo {
    display: inline;
}

.contato-subtitulo {
    font-weight: bold;
    font-size: 18px;
}

.contato-secao-telefone {
    margin-left: 32px;
}

div dl div {
    font-style: italic;
    margin-right: 20px;
}

.informacoes-contato {
    display: inline;
    font-size: small;
}

.contato-info {
    margin: 16px 0 24px;
    padding-left: 32px;
}

.contato-info ul {
    padding: 0;
    list-style: none;
}

.contato-info-titulo, .contato-info-descricao {
    display: inline;
}

.contato-info-descricao {
    margin-left: 10px;
}

@media (max-width: 850px){

    .container-contato {
        margin-left: 1em;
        display: block;
    }

    .contato-secao-telefone {
        margin-left: 0px;
    }
}

@media (max-width: 622px){
    .imgfamilia {
        margin: 0 auto;
        float: none;
    }
}

@media (max-width: 446px){

    .titulos {
        text-align: center;
    }

    .imgfamilia {
        width: 230px;
    }

    .contato-subtitulo {
        margin-bottom: 0px;
        display: block;
    }

    .informacoes-contato {
        display: block;
    }

    .contato-info {
        font-size: 0.99em;
        border-left: 2px solid #98c5e2;
        padding-left: 5px;
    }

    .contato-info ul {
        font-size: 0.99em;
    }

    .rodape img, .rodape-copyright {
        font-size: 0.92em;
    }
}

@media (max-width: 384px){
    .imgfamilia {
        width: 200px;
    }

    .contato-info-titulo, .contato-info-descricao {
        display: block;
    }
}
.rodape {
    font-size: 1.1rem;
    padding: 1.75em 0;
}

.rodape-logo {
    width: 6em;
}

.rodape-copyright {
    margin-left: 1em;
    display: inline;
}
